.big-button{
   background: #8357c5; 
   border: none;
   border-bottom: .6rem solid darken(#8357c5,10%);
   color: white;
   font-size: $l-size;
   font-weight: bold;
   margin-bottom: $xl-size;
   padding:2.4rem;
   width:100%;
}

.big-button:disabled{
    opacity: 0.5;
}

.button{
    background: #8357c5;
    border: none;
    border-bottom: .3rem solid darken(#8357c5,10%);
    color: white;
    padding:12px;
    font-weight:500;
}